---
- name: cfssl | Downloading cfssl binaries
  ansible.builtin.get_url:
    checksum: sha256:{{ cfssl_checksum_url }}
    dest: "{{ cfssl_bin_directory }}/{{ item }}"
    group: "{{ cfssl_group }}"
    mode: "0755"
    owner: "{{ cfssl_owner }}"
    url: https://github.com/cloudflare/cfssl/releases/download/v{{ cfssl_version }}/{{ item }}_{{ cfssl_version }}_{{ cfssl_os }}_{{ cfssl_arch }}
  tags:
    - cfssl
  with_items:
    - cfssl
    - cfssl-bundle
    - cfssl-certinfo
    - cfssl-newkey
    - cfssl-scan
    - cfssljson
    - mkbundle
    - multirootca
