---
name: pre-commit
true:
  pull_request:
    branches:
      - master
      - main
  push:
    branches:
      - master
      - main
  workflow_dispatch:
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - uses: pre-commit/action@v3.0.1
